.social-sharing {
  .social-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
  }

  .share-facebook {
    .social-icon {
      background: url('#{$asset_path}/images/Facebook.svg?v1') center no-repeat;
      background-size: contain;
    }
  }

  .share-twitter {
    .social-icon {
      background: url('#{$asset_path}/images/Twitter.svg?v1') center no-repeat;
      background-size: contain;
    }
  }

  .share-pinterest {
    .social-icon {
      background: url('#{$asset_path}/images/Pinterest.svg?v1') center no-repeat;
      background-size: contain;
    }
  }

  .share-email {
    .social-icon {
      background: url('#{$asset_path}/images/Email.svg?v1') center no-repeat;
      background-size: contain;
    }
  }
}
