.contact-us-page {
  max-width: 750px;
  margin: 0 auto;
}
.page-content {
  .contact-form {
    &__name {
      @include res(sm) {
        padding-right: 6px;
      }
    }
    &__email {
      @include res(sm) {
        padding-left: 6px;
      }
    }
  }
  &__alert-success {
    background: #e0f4d8;
    color: #33631d;
  }
  &__alert-error {
    background: #fff6f6;
    color: #d02e2e;
  }
}

#about-us-page {
  padding: 64px 0 0;
  .figure-about {
    text-align: center;
    margin: 0 33%;
    margin-bottom: 24px;
  }
  .about-us-content {
    text-align: center;
    .h1 {
      color: $color-blue-dark;
      margin-bottom: 32px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      color: $color-blue-dark;
    }
    .content-text-about {
      margin: 0 17%;
    }
    .sign-text {
      color: $color-orange;
      font-family: Harmony;
      font-size: 80px;
      line-height: 80px;
      margin-bottom: 80px;
    }
  }
  @include res(xs) {
    padding: 15px 0 0;
    .figure-about {
      margin: auto;
    }
    .about-us-content {
      .content-text-about {
        margin: 0 auto;
      }
    }
  }
}
