.footer-section {
  background-color: $color_footer_background;
  color: $color_footer_text;

  a {
    color: $color_footer_links;
    font-size: 12px;
    &:hover {
      color: adaptive-color($color_footer_background, $color_footer_links, 20%);
    }
  }

  .icon-down-arrow {
    background: url('#{$asset_path}/images/icons/sprites-icon-24.svg') 0 -204px no-repeat;
    background-size: 24px auto;
    width: 24px;
    height: 24px;

    &.is-active {
      background: url('#{$asset_path}/images/icons/sprites-icon-24.svg') 0 -170px no-repeat;
    }

    @include res(sm) {
      display: none;
    }
  }

  .site-footer {
    &__header {
      color: $color_footer_headings;
      font-family: 'Playfair Display', serif;
      font-size: 24px;
      @include res(xs) {
        font-size: 16px;
        margin-bottom: 8px;
      }
    }
  }
  .footer_menu {
    @include res(xs) {
      margin-bottom: 16px;
    }
  }
  .footer_menu,
  .footer_content {
    @include res(xs) {
      border-bottom: 1px solid $gray-100;
    }
    @include res(sm) {
      h6 {
        pointer-events: none;
      }
      .toggle_content {
        display: block !important;
      }
    }
  }
  .footer-before {
    @include res(sm) {
      display: flex;
      padding-top: 30px;
    }
    & > div {
      flex: 1 0 50%;
    }
  }
  .footer-after {
    & > div {
      flex: 1 0;
    }
  }
  .footer-second-content {
    background: #f9f9f9;
  }
  .footer-copyright {
    p {
      color: $color_footer_text;
      font-size: 12px;
    }
  }
  .powered-by {
    display: block;
    background: url('#{$asset_path}/images/icons/Powered_by_Shopbase.svg?v1') no-repeat;
    background-size: contain;
    width: 120px;
    height: 28px;
  }
  .footer-social {
    &__icon {
      display: block;
      background: url('#{$asset_path}/images/icons/sprites-icon-24.svg') no-repeat;
      background-size: 18px auto;
      width: 18px;
      height: 18px;
      opacity: .2;
      &--fb {
        background-position: 0 0;
      }

      &--tw {
        background-position: 0 -25px;
      }

      &--pin {
        background-position: 0 -50px;
      }

      &--you {
        background-position: 0 -178px;
      }

      &--ins {
        background-position: 0 -75px;
      }

      &--blog {
        background-position: 0 -280px;
      }
    }
  }
  .footer-credits {
    @include res(sm) {
      flex: 1 0 auto;
      text-align: right;

      ul {
        justify-content: flex-end;
      }
    }
    &__icon {
      display: block;
      background: url('#{$asset_path}/images/icons/visa.svg') no-repeat;
      width: 32px;
      height: 24px;

      &--visa {
        background: url('#{$asset_path}/images/icons/visa.svg') no-repeat;
      }

      &--master {
        background: url('#{$asset_path}/images/icons/mastercard.svg') no-repeat;
      }

      &--amex {
        background: url('#{$asset_path}/images/icons/amex.svg') no-repeat;
      }

      &--paypal {
        background: url('#{$asset_path}/images/icons/paypal.svg') no-repeat;
      }

      &--amazon {
        background: url('#{$asset_path}/images/icons/amazon.svg') no-repeat;
      }
    }
  }
}
