.quantity {
  @media only screen and (max-width: 767px) {
    button {
      touch-action: manipulation;
    }
  }
  max-width: 175px;
  position: relative;
  min-width: 175px;
  overflow: visible;
  margin: 0;
  background-color: transparent; // $color_input;
  // border: 1px solid $gray-100; // darken($color_input, 5%);
  border: 1px solid $color-blue-darker;
  color: color-control($color_background);

  &.disabled {
    pointer-events: none;
    opacity: 0.8;
  }

  &__adjust {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 1px;
    bottom: 1px;
    border: 0 none;
    background: #ebf3ff;
    text-align: center;
    overflow: hidden;
    user-select: none;
    backface-visibility: hidden;
    transition: all 0.2s ease-out;
    padding: 0 12px;
    line-height: 1;
    color: color-control($color_background);
    z-index: 1;
    .icon-adjust {
      font-size: 16px;
    }
    .fallback-text {
      clip: rect(0 0 0 0);
      clip: rect(0, 0, 0, 0);
      overflow: hidden;
      position: absolute;
      height: 1px;
      width: 1px;
    }

    &--minus {
      left: 1px;
    }

    &--plus {
      right: 1px;
    }
    &:focus,
    &.focused,
    &:active,
    &:hover,
    &.hovered,
    &.active {
      outline: none !important;
      .quantity__icon {
        fill: adaptive-color(color-control($color_background), color-control($color_background), 20%);
      }
    }
  }

  &__icon {
    fill: color-control($color_background);
  }

  &__num {
    display: block;
    background: none;
    text-align: center;
    width: 93px;
    text-transform: uppercase;
    font-style: normal;
    font-size: 1em;
    margin: 0 40px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: color-control($color_background);
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
    // border-left: 1px solid $gray-100; //darken($white, 5%);
    // border-right: 1px solid $gray-100; //darken($white, 5%);
    border-left: 1px solid transparent; //darken($white, 5%);
    border-right: 1px solid transparent; //darken($white, 5%);
    appearance: none;
    max-width: 100%;
    line-height: 1.4285714em;
    box-shadow: none;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &:focus,
    &.focused,
    &:active,
    &:hover,
    &.hovered,
    &.active {
      color: adaptive-color(color-control($color_background), color-control($color_background), 20%);
    }
  }
}

.quantity-control {
  &__quantity {
    position: relative;
    border-color: $gray-100;
    height: 56px;
    margin-right: 12px;
    input {
      min-height: 0;
    }

    .qty-input {
      -moz-appearance: textfield;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      padding-right: 38px;
      width: 88px;
      background-color: $white;
      border: 1px solid $color-blue-dark;
      height: 100%;
      line-height: normal;
      text-align: center;
      font-size: 1em;
      appearance: none;
      border-radius: 0;
      &__increase, &__decrease {
        background-color: $color-blue-lightest;
        border-color: #ffffff;
        position: absolute;
        right: 2px;
        width: 28px;
        text-align: center;
        height: 47%;
        border-top-color: #ffffff;
        border-bottom-color: #ffffff;
        outline: none !important;
        &:disabled, &[disabled] {
          .qty-input__up, .qty-input__down {
            border-color: $gray-200;
          }
        }
      }
      &__increase {
        top: 2px;
      }
      &__decrease {
        bottom: 2px;
      }

      &__up, &__down {
        position: absolute;
        right: 0;
      }

      &__up {
        top: 0;
      }
      &__down {
        bottom: 0;
      }
    }
  }
}
