.s-tabs {
  .s-tab-content {
  }
  &.is-hide {
    ul {
      display: none !important;
    }
  }
  .s-tabs-nav {
    ul {
      border: 0;
      align-items: stretch;
      display: flex;
      padding: 0;
      justify-content: flex-start;
      margin-bottom: 24px;
    }
    li {
      color: $color_menu_link;
      font-size: 13px;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      letter-spacing: 0;
      margin-right: 40px;
      text-transform: uppercase;
      list-style: none;
      padding-bottom: 8px;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid $color_menu_link;
        cursor: pointer;
      }
      &.is-active {
        border-bottom: 1px solid $color_menu_link;
      }
      a {
        text-decoration: none;
      }
    }

    @for $i from 1 through 5 {
      li:first-child:nth-last-child( #{$i} ),
      li:first-child:nth-last-child( #{$i} ) ~ li {
        max-width: calc(100% / #{$i});
      }
    }
  }

  .s-tab-item {
    font-size: 14px;
    line-height: 20px;
    ul {
      padding-left: 16px;
      li {
        margin-bottom: 8px;
      }
    }
  }
}

