// MidSleek core assets color
$color-main: #2d387a;
// Color blue
$color-blue-darker: #202756;
$color-blue-dark: #2d387a;
$color-blue: #5060be;
$color-blue-light: #8bb7fd;
$color-blue-lighter: #bdd6fe;
$color-blue-lightest: #ebf3ff;

// Color sand
$color-sand-darker: #503921;
$color-sand-dark: #b88852;
$color-sand: #cead88;
$color-sand-light: #d6ccb3;
$color-sand-lighter: #eae4d7;
$color-sand-lightest: #f7f5f0;

// Color orange
$color-orange-darker: #5f201b;
$color-orange-dark: #c5392e;
$color-orange: #eb6449;
$color-orange-light: #f08a75;
$color-orange-lighter: #f6b9ac;
$color-orange-lightest: #fcebe8;

// Color Aquamarine
$color-aquamarine-darker: #183930;
$color-aquamarine-dark: #02a176;
$color-aquamarine: #02ca93;
$color-aquamarine-light: #78e3c5;
$color-aquamarine-lighter: #a2ecd7;
$color-aquamarine-lightest: #e6faf4;

// Color Neutral
$color-aquamarine-darker: #323232;
$color-aquamarine-dark: #575757;
$color-aquamarine: #8a8a8a;
$color-aquamarine-light: #c4c4c4;
$color-aquamarine-lighter: #eaeaea;
$color-aquamarine-lightest: #f9f9f9;

// Type
$type_base_family: 'HelveticaNeue', sans-serif;
$type_base_style: regular;
$type_base_size: 14;

$type_header_family: 'HelveticaNeue', sans-serif;
$type_header_style: regular;
$type_header_base_size: 48;
$capitalize_headings: true;

$type_button_base_family: 'HelveticaNeue', sans-serif;
$type_button_text_style: regular;
$capitalize_buttons_text: false;

// Colors link
$private_main_color: #2d387a;
$color_header_background: #ffffff;
$color_header_link: #222222;

$color_body_background: #FFFFFF;

$color_headings: #1A1A1A;
$color_body_text: #1A1A1A;

$color_borders: #dfdfdf;
$color_button_text: #FFFFFF;

$color_primary: $blue;
$color_secondary: $blue;
$color_button_text: #FFFFFF;

$color_product_background: #F3F3F3;
$color_input: #FFFFFF;
$color_sale_tag: #a62b0d;

$color_footer_background: #FFFFFF;
$color_footer_text: #2d387a;

// for button
$color_drawer_background: #FFFFFF;
$color_drawer_text: #222222;
$color_drawer_border: #444444;
$color_drawer_button: #222222;

// Background body color
$color_background: #ffffff;
// Header & Menu color
$color_top_bar_background: #f4f4f4;
$color_menu_background: #f7f5f0;
$color_menu_link: #2d387a;
$menu_background_opacity: 100;
$color_announcement_bar_background: #202756;
$color_announcement_message_text: #ffffff;
$color_newsletter_section_background: $private_main_color;
$color_product_description_background: #ffffff;
$color_mini_cart_background: #ffffff;
$color_footer_background: #ffffff;
$color_logo_text: #2d387a;
$color_page_headings: #000000;
$color_page_content_text: #000000;
$color_footer_headings: #2d387a;
$color_footer_text: #2d387a;
$color_sale_price: #a62b0d;
$color_compare_at_price: #8a8a8a;
$color_price: #2d3879;
$color_top_menu: #000000;
$color_links: #000000;
$color_footer_links: #2d387a;
$color_bg_buttons: #2d387a;
$color_buttons: #ffffff;
$color_banner_buttons: #2d387a;
$color_banner_buttons_label: #ffffff;

// Cart color
$color_bg_mini_cart_number: #eb6449;
$color_mini_cart_button: #285f8a;
$color_mini_cart_button_label: #ffffff;

// Slide show section setting

$slide_image_position: 'middle - center';
$slide_show_overlay: block;
$slide_overlay_opacity: opacity(.25);

$slide_text_alignment: 'middle - center';
$slide_text_color: #FFFFFF;
$slide_button_label_color: #FFFFFF;
$slide_button_color: #bd9669;

// Checkout
$checkout_accent_color:  #A26B25;
$checkout_body_background_color: #FFFFFF;
$checkout_body_background_image: none;
$checkout_body_font: 'HelveticaNeue', sans-serif;
$checkout_button_color: #000000;
$checkout_error_color: #FF0000;
$checkout_header_image: none;
$checkout_heading_font: 'HelveticaNeue', sans-serif;
$checkout_input_background_color_mode: white;
$checkout_sidebar_background_color: #F3F3F3;
$checkout_sidebar_background_image: none;

// For banner
$color_preheading_banner: #EB6449;
$preheading_banner_size: 64;
$color_heading_banner: #ffffff;
$heading_banner_size: 56;
$color_subheading_banner: #ffffff;
$subheading_banner_size: 12;

// For testimonial
$testimonial_text_color: #2d387a;

// For newsletter
$color_newsletter: #ffffff;
$color_bg_input_newsletter: #2d3879;
$color_text_input_newsletter: #4e60bd;
